<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golf - The Beautiful Game</title>
    <link rel="icon" href="~/300762_ball_golf_sport_icon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission4_BrysonLindsey.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Learn">Learn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container"
        <h1></h1>
        <h3 style="text-align: center;">This site is dedicated to showcasing the beauty of the game of golf, and to offer you the chance to learn more about it and improve your own game</h3>
        <br />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position: absolute; bottom: 0; width: 100%;" class="border-top text-muted">
        <div class="container">
            &copy; 2024 - Bryson Lindsey - <a asp-area="" asp-controller="Home" asp-action="Learn">Improve Your Game</a>
            <p>Bryson Lindsey is an amateur golfer who spends way too much money on golf and doesn't actually know what he is talking about.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
