@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>GOLF</h1>
    @Html.ActionLink("Click Here to Improve Your Game", "Learn", "Home")
    <p>Golf, often regarded as a game of precision and patience, holds a unique allure for enthusiasts worldwide. Beyond being a sport, it embodies a lifestyle characterized by camaraderie, strategy, and the pursuit of perfection. From the serene greens of lush courses to the satisfying thwack of a well-struck ball, golf captivates players and spectators alike with its blend of athleticism and mental acuity.</p>
    <img src="~/img/course1.jpg" />
    <br />
    <p>At its essence, golf is a quest for mastery over oneself and the elements. Every swing represents a delicate balance of power and finesse, requiring both physical prowess and mental fortitude. Whether navigating challenging terrain or strategizing the optimal approach to the hole, golfers continually engage in a dynamic interplay of skill and strategy.</p>
    <img src="~/img/rory.jpg" />
    <br />
    <p>Moreover, golf transcends mere competition to foster a sense of community and connection. Whether bonding with fellow players over shared triumphs and setbacks or simply enjoying the serenity of nature's embrace, the golf course serves as a sanctuary for enthusiasts to escape the rigors of everyday life and immerse themselves in the pursuit of excellence. In essence, golf is more than just a game—it's a passion, a lifestyle, and a timeless journey of self-discovery.</p>
    <img src="~/img/tiger1.jpg" />
    <br /><br />
</div>
